/* * {
  font-size: 40px;
} */
body {
  margin: 0;
}

#main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

#current-selection span:hover {
  cursor: pointer;
}

#board {
  font-size: 5vmin;
  user-select: none;
  display: inline-grid;
  grid-column-start: 2;
  grid-template-columns: repeat(var(--width), 5vmin);
  grid-template-rows: repeat(var(--height), 5vmin);
}

.tile {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-tool-set {
  display: none;
}
#side-tool-set.shown {
  display: block;
}

#copy {
  cursor: pointer;
  grid-column-start: 2;
  justify-self: start;
}
