body {
  margin: 0;
}

#main {
  display: grid;
  grid-template-columns: (1fr 2fr);
}

#board {
  display: inline-grid;
  grid-template-columns: repeat(var(--height), 2vmin);
  grid-template-rows: repeat(var(--width), 2vmin);
}
